<label for="">Filter city: </label>
<input type="text" [(ngModel)]="City">
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear</button>
<label for="">Sort by &nbsp</label>
<select [(ngModel)]="SortbyParam">
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>
<button ype="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
  <div *ngFor="let Property of Properties|filter:SearchCity:'City'|sort:[SortbyParam, SortDirection]" class="shadow-lg col-sm-4 p-3">

<app-property-card [property]="Property">

</app-property-card>

</div>
</div>
