<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header">List Your Property</div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="SellRent"
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                  <div
                    class="error-block"
                    *ngIf="SellRent.invalid && nextClicked"
                  >
                    Please select sell or rent
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>BHK</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="BHK"
                    [(ngModel)]="propertyView.BHK"
                  >
                    <label
                      *ngFor="let bhk of [1, 2, 3, 4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(bhk)"
                      role="button"
                      name="bhk"
                      >{{ bhk }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="PType"
                    [(ngModel)]="propertyView.PType"
                  >
                    <label
                      *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(ptype)"
                      role="button"
                      name="PropType"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="FType"
                    [(ngModel)]="propertyView.FType"
                  >
                    <label
                      *ngFor="let ptype of furnishTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(ptype)"
                      role="button"
                      name="furnType"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="name">In Building/Society/Project</label>
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    formControlName="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  <!-- <span
                    *ngIf="!propName.valid && propName.touched"
                    class="error-block"
                  >
                    <span *ngIf="propName.errors.required"
                      >Please provide name</span
                    >
                    <span *ngIf="propName.errors.minlength"
                      >Name must be at least 5 char long</span
                    >
                  </span> -->
                </div>
                <div class="form-group col-12">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="City"
                    [(ngModel)]="propertyView.City"
                  />
                </div>
                <div class="d-grid gap-2" style="margin-top: 10px">
                  <button
                    (click)="selectTab(1, BasicInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Next
                  </button>
                </div>

                <div class="form-group col-12"></div>
              </tab>
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value == 1">Price</label>
                  <label *ngIf="SellRent.value == 2">Rent</label>
                  <input
                    type="text"
                    formControlName="Price"
                    class="form-control"
                    [(ngModel)]="propertyView.Price"
                  />
                  <div
                    class="error-block"
                    *ngIf="Price.invalid && (nextClicked || Price.touched)"
                  >
                    Please select
                    <span *ngIf="SellRent.value == 1; else ShowRent"
                      >Price</span
                    >
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="">Security</label>
                  <input
                    type="text"
                    formControlName="Security"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Maintenance</label>
                  <input
                    type="text"
                    formControlName="Maintenance"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Built Area (in sq. feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="BuiltArea"
                    [(ngModel)]="propertyView.BuiltArea"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Carpet Area (in sq. feet)</label>
                  <input
                    type="text"
                    formControlName="CarpetArea"
                    class="form-control"
                  />
                </div>
                <div class="d-grid gap-2" style="margin-top: 10px">
                  <button
                    (click)="selectTab(2, PriceInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Next
                  </button>
                  <button
                    (click)="selectTab(0, PriceInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label for="">Floor</label>
                  <input
                    type="text"
                    formControlName="FloorNo"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Total Floor</label>
                  <input
                    type="text"
                    formControlName="TotalFloor"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Address"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="LandMark"
                  />
                </div>
                <div class="d-grid gap-2" style="margin-top: 10px">
                  <button
                    (click)="selectTab(3, AddressInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Next
                  </button>
                  <button
                    (click)="selectTab(1, AddressInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label
                      *ngFor="let ptype of gatedCommunity"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(ptype)"
                      role="button"
                      name="SellRent"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-3">
                  <label for="">Possession/Available from</label>
                  <input
                    type="text"
                    placeholder="Datepicker"
                    [bsConfig]="{
                      dateInputFormat: 'DD-MMM-YYYY',
                      containerClass: 'theme-dark-blue'
                    }"
                    formControlName="PossessionOn"
                    class="form-control"
                    bsDatepicker
                  />
                </div>
                <div class="form-group col-12">
                  <label for="">Age of Property</label>
                  <input
                    type="text"
                    formControlName="AOP"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label
                      *ngFor="let ptype of gatedCommunity"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(ptype)"
                      role="button"
                      name="SellRent"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Main Enterance</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="MainEntrance"
                  >
                    <label
                      *ngFor="let ptype of mainEntrance"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="$any(ptype)"
                      role="button"
                      name="SellRent"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="">Description</label>
                  <textarea
                    type="text"
                    rows="6"
                    formControlName="Description"
                    class="form-control"
                  ></textarea>
                </div>
                <div class="d-grid gap-2" style="margin-top: 10px">
                  <button
                    (click)="selectTab(4, OtherInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Next
                  </button>
                  <button
                    (click)="selectTab(2, OtherInfo.valid)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button><br />
                    This section is under construction...
                  </div>
                </div>
                <div class="d-grid gap-2" style="margin-top: 10px">
                  <button
                    (click)="selectTab(3)"
                    type="button"
                    class="btn btn-primary"
                  >
                    Back
                  </button>
                  <button type="reset" class="btn btn-primary">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">Your Property Preview</div>
      <div class="card-body shadow-lg">
        <app-property-card
          [property]="propertyView"
          [hideIcons]="true"
        ></app-property-card>
      </div>
    </div>
  </div>
</div>
